@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.title{
    color: rgb(11, 2, 35);
    font-size: 48px;
    font-weight: 700;
}

p.shortDesc{
    color: rgb(83, 76, 100);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background: rgb(255, 66, 165);
    padding: 20px 40px;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.txt-gradient{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0 4px 2px #9d9d9d);
}

.shortImg{
    position: absolute;
    bottom: -50px;
    max-height: 320px;
    overflow: hidden;
    width: 280px;
}

/* Header CSS */
header{
}


/* Nav CSS */
nav {
    padding: 35px 10px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));
    background: #fff;
}

nav .logo{
    gap: 10px;
}

nav .logo h2{
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

nav .logo h2 span{
    color: #FF42A5;
}

nav ul{
    gap: 30px;
}

nav ul li{
    font-size: 18px;
    font-weight: 500;
}

nav ul li.socialHandlers{
    gap: 25px;
    padding: 15px 25px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
}

nav ul li a{
    color: rgb(60, 53, 79);
}

/* Banner CSS */
.banner {
    background: linear-gradient(to right, rgba(140, 87, 238, 0.03) 50%, #ffffff00 50%);
    padding: 0 10px;
}

.banner .banner-left, .banner .banner-right {
    flex-basis: 50%;
    height: calc(100vh - 135px);
}

.banner .banner-left {
    background: url(imgs/Group\ 14.png) no-repeat;
    /* background-position: -180px center; */
    background-size: auto 100%;
    background-color: #fff;
}

.banner .banner-left {
    background: url(imgs/Group\ 14.png) no-repeat;
    background-position: 150% center;
    background-size: auto 100%;
    background-color: #fff;
}

.banner .banner-left h3{
    color: rgb(11, 2, 35);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner .banner-left h1 {
    font-size: 95px;
    font-weight: 800;
}

.banner .banner-left h6{
    color: rgb(83, 76, 100);
    font-size: 20px;
    font-weight: 500;
    justify-content: start;
    gap: 10px;
    margin: 10px 0;
}

.banner .banner-left .bannerBtns{
    margin-top: 30px;
}

.banner .banner-left .bannerBtns .btn:last-child{
    background: rgb(78, 197, 247);
}

.banner .banner-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.weAreGamer{
    background: rgba(255, 66, 165, 0.03);
    padding: 55px 10px;
}

.weAreGamer .gamer-left{
    flex-basis: 50%;
}

.weAreGamer .gamer-left img {
    width: 100%;
    height: auto;
}

.weAreGamer .gamer-right{
    text-align: right;
    flex-basis: 50%;
}

.weAreGamer .gamer-right h2{
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
}

.weAreGamer .gamer-right .btn{
    padding: 15px 40px;
    margin: 20px 0;
}

.weAreGamer .gamer-right h6{
    Font-weight: 500;
    Font-size: 24px;
    color: #534C64;
    margin-bottom: 20px;
}

.weAreGamer .gamer-right h4{
    font-size: 32px;
    font-weight: 700;
    color: #534C64;
}

.funny .titleBox{
    text-align: center;
    margin: 50px 0;
}

.funny .titleBox p{
    margin-top: 10px;
}

.funny > .flex{
    align-items: stretch;
}

.funny .card{
    flex-basis: 25%;
    padding: 0 10px;
    position: relative;
}

.funny .card > img{
    width: 100%;
    transition: .3s;
}

.funny .card p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.funny .card button {
    background: none;
    border: none;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: .3s;
    cursor: pointer;
}

.funny .card button p{
    color: #FF42A5;
    margin: 0;
}

.funny .card button img{
    max-width: 40px;
    margin-bottom: 10px;
}

.funny .card:hover > img{
    filter: brightness(40%);
}


.funny .card:hover button{
    opacity: 1;
}

/* Play Instantly CSS */
.playInstantly{
    padding: 100px 10px;
}

.playInstantly .play-left{
    text-align: right;
    flex-basis: 50%;
    justify-content: center;
}

.playInstantly .play-left .play-left-el{
    padding-right: 140px;
    width: 100%;
    max-width: 490px;
}

.playInstantly .play-left h2{
    margin-bottom: 10px;
}

.playInstantly .play-left h2:first-child{
    color: rgb(255, 66, 165);
}

.playInstantly .play-right{
    flex-basis: 50%;
    position: relative;
}

.playInstantly .play-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playInstantly .play-right .play-short-img {
    left: -140px;
}

/* Play Online CSS */
.playOnline{
    padding: 100px 10px;
}

.playOnline .play-left{
    position: relative;
    flex-basis: 50%;
}

.playOnline .play-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playOnline .play-left .play-left-short{
    right: -140px;
}

.playOnline .play-right{
    flex-basis: 50%;
    justify-content: center;
}

.playOnline .play-right .play-right-el{
    padding-left: 140px;
}

.playOnline .play-right h2{
    margin-bottom: 10px;
}

/* Career CSS */
.careers {
    background: linear-gradient(to right, rgb(255, 66, 165) 50%, rgb(255 85 174) 50%);
    padding: 0 10px;
}

.careers .career-left{
    flex-basis: 50%;
}

.careers .career-left h2,
.careers .career-left p,
.careers .career-left ul li span{
    color: #fff;
}

.careers .career-left ul li span:last-child{
    text-align: right;
}

.careers .career-left ul li{
    margin: 10px 0;
}

.careers .career-left h2,
.careers .career-left p,
.careers .career-left ul{
    margin-bottom:30px;
}

.careers .career-left a.btn{
    background: #fff;
    color: #FF42A5;
}

.careers .career-right{
    background: url(imgs/childBg.png) no-repeat;
    background-position: left center;
    background-size: auto 100%;
    padding: 80px 10px;
    flex-basis: 50%;
    background-color:  rgb(255, 66, 165);
}

.careers .career-right img{
    width: 100%;
}

.games{
    padding: 80px 10px;
}

.games > .flex{
    justify-content: center;
    gap: 30px 5px;
}

.games .card{
    flex-basis: calc(20% - 5px);
    justify-content: start;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 150px;
    padding: 5px;
    transition: .3s;
}

@media only screen and (min-width: 1200px){
    .flex.card h6 {
        font-size: 14px;
    }
}

.games .card img{
    max-width: 50px;
}

.games .card:hover{
    border-color: #FF42A5;
}

.games .card:hover h6{
    color: #FF42A5;
}


/* Footer CSS */
footer{
    background: #0B0223;
    padding: 80px 0;
}

footer .footerWrap{
    width: 100%;
    max-width: 768px;
    margin: auto;
    padding: 0 10px;
}

footer .logo{
    width: fit-content;
    margin: auto;
    font-size: 45px;
    font-weight: 700;
    gap: 10px;
    padding-bottom: 20px;
}

footer .logo img{
    max-width: 50px;
}

footer .logo h6{
    color: #fff;
}

footer .logo h6 span{
    color: #FF42A5;
}

footer ul{
    padding: 20px 0;
    width: 100%;
    margin: auto;
    gap: 10px;
}

footer .footerMenu a{
    color: #fff;
    font-weight: 600;
}

footer .socials{
    max-width: 500px;
}

footer .smallMenu{
    max-width: 600px;
}

footer .smallMenu a{
    color: #b5b5b5;
    font-weight: 600;
}

footer p{
    text-align: center;
    color: #b5b5b5;
}